<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{css/style.css}" href="../static/css/style.css">
    <title>Notes</title>
</head>
<body>
<div class="wrapper">    
    <header>
        <h1 class="title">Mes notes</h1>
        <div class="form_block">
            <form action="#" th:action="@{/notes}" th:method="post">
                <label for="title_input">Titre</label>
                <input id="title_input" name="title" type="text" placeholder="Titre..." required>
                <label for="text_input" id="text_label">Texte</label>
                <textarea id="text_input" name="text" placeholder="Texte..." required rows="1"></textarea>
                <input type="submit" value="Ajouter" class="input_submit">
            </form>
        </div>
    </header>
    <div th:if="${noteList.isEmpty()}">Aucune note...</div>
    <div class="note" th:each="theNote : ${noteList}">
        <div class="title_note" th:text="${theNote.title}">The title</div>
        <div class="text_note" th:text="${theNote.text}">The text of very long story, or just shopping list</div>
        <!-- TODO par défaut la date de création n'est pas très lisible
        appelez la méthode de formattage de la classe date pour afficher la date correcte -->
        <div class="date_note" th:text="${theNote.getStringFormatedCreatedOn()}">23.04.2021</div>
    </div>
</div>

</body>
</html>